@import "../../../../styles/styles.scss";

:host::ng-deep {
  p-dataView {
    .p-grid {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .card-title {
    text-overflow: ellipsis;
    height: 3rem;
    overflow: hidden;
  }

  .product-detail-content {
    text-overflow: ellipsis;
    max-height: 5rem;
    overflow: hidden;
  }

  .none-underline {
    text-decoration: none;
  }
}

.search-button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
